.sidebar {
  flex: 0.2;
  background: #212121;
  /* position: absolute;
  left: 0; */
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ant-drawer-body {
  background: #212121 !important;
  padding: 24px 0 0 0 !important;
}
.ant-drawer-header {
  background: #212121 !important;
  border-bottom: unset !important;
}
.MuiSvgIcon-root {
  cursor: pointer;
}
